.page-home {
	.box {
		background-color: #fff; // $body-bg;
		border-radius: 5px; // $border-radius-large;
	}
	.box-bottom {
		background-color: #7dd194; // $brand-secondary;
		color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 0 0 5px 5px; // $border-radius-large;
	}
	.map {
		background-color: #d9e7eb;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	.help-block {
		color: inherit;
	}
	.footer {
		background-color: $body-bg;
	}
}