{
    "env": {
        "amd": true,
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "pg": true, // ProntoGioco
        "google": true // Google Maps
    },
    "extends": [
        "plugin:vue/recommended",
        "eslint:recommended"
    ],
    "plugins": ["vue"],
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", "tab", {
            "SwitchCase": 1
        }],
        "no-console": "off",
        "semi": ["error", "always"],
        "quotes": ["error", "single", {
            "avoidEscape": true
        }],
        "comma-dangle": ["error", "never"],
        "no-trailing-spaces": "error",
        "vue/html-indent": ["error", "tab"],
        "vue/max-attributes-per-line": "off"
    }
}