# System files
._*
.DS_Store

# Laravel and libs
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache

# Built css and js
.sass-cache
/public/js/*
/public/css/*
/public/mix-manifest.json

# Logs
npm-debug.log*
yarn-error.log