@import "variables/colors";

$primary:       $fuchsia-500; // $green-500
$secondary:     $gray-200;
$success:       $green;
// $accent:        $fuchsia-500;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Typography
$font-size-base: 1.2rem;