// Grays 
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Colors
$blue:    #007bff;
$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;
$cyan:    #17a2b8;

// Create a color palette
$palette-blue-100: #d4f0f7;
$palette-blue-200: #aae1ef;
$palette-blue-300: #7fd3e8;
$palette-blue-400: #55c4e0;
$palette-blue-500: #2bb6d9;

$palette-fuchsia-100: #fbd5de;
$palette-fuchsia-200: #f7acbd;
$palette-fuchsia-300: #f3829c;
$palette-fuchsia-400: #ef597b;
$palette-fuchsia-500: #eb305a;

$palette-green-100: #e5f5e9;
$palette-green-200: #cbecd4;
$palette-green-300: #b1e3be;
$palette-green-400: #97daa9;
$palette-green-500: #7dd194;

$palette-dark-green-100: #d1d9d8;
$palette-dark-green-200: #a4b3b2;
$palette-dark-green-300: #768d8c;
$palette-dark-green-400: #496766;
$palette-dark-green-500: #1c4240;

$primary:       $palette-fuchsia-500;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;