// Force block style
span.twitter-typeahead {
	display: block !important;
}

// Menu
.tt-menu {
	width: 100%;
	padding: 5px 0;
	margin: 2px 0 0; // override default ul
	font-size: $font-size-base;
	color: $body-color;
	list-style: none;
	background-color: $dropdown-bg;
	background-clip: padding-box;
	border: $dropdown-border-width solid $dropdown-border-color;
	@include border-radius($border-radius);
	@include box-shadow(0 6px 12px rgba(0,0,0,.175));

	.input-group-lg &.tt-open {
		top: $input-height-lg !important;
	}
}

// Menu items
.tt-suggestion {
	// display: block;
	// width: 100%; // For `<button>`s
	padding: 3px 20px;
	// clear: both;
	// font-weight: normal;
	// line-height: $line-height;
	color: $dropdown-link-color;
	// text-align: inherit; // For `<button>`s
	white-space: nowrap; // prevent links from randomly breaking onto new lines
	// background: none; // For `<button>`s
	// border: 0; // For `<button>`s
}
.tt-selectable {
	@include hover-focus {
		color: $dropdown-link-hover-color;
		// text-decoration: none;
		background-color: $dropdown-link-hover-bg;
	}
}
.tt-selectable.tt-cursor {
	@include plain-hover-focus {
		color: $dropdown-link-active-color;
		text-decoration: none;
		background-color: $dropdown-link-active-bg;
		outline: 0;
	}
}


/*
wrapper: 'twitter-typeahead',
input: 'tt-input',
hint: 'tt-hint',
menu: 'tt-menu',
dataset: 'tt-dataset',
suggestion: 'tt-suggestion',
selectable: 'tt-selectable',
empty: 'tt-empty',
open: 'tt-open',
cursor: 'tt-cursor',
highlight: 'tt-highlight'
*/