.page-explore {
	overflow-x: hidden; // Fix scrollbar issues
	
	.venue {
		display: flex;
		align-items: flex-start;
	}
	.venue-icon {
		width: 60px;
		padding: 5px;
		background-color: #76b1a2;
		border-radius: 50%;
		margin-right: $grid-gutter-width / 2;
	}
	.venue-body {
		flex: 1;
		padding-top: $spacer;
	}
	.map-container {
		display: none;
	}

	// Filters
	.filterbar-tag {
		margin: map-get($spacers, 2) 0;
	}
	.filterbar-tag-input {
		display: none;
	}
	.filterbar-tag-token {
		padding: map-get($spacers, 1) map-get($spacers, 3);
		border-radius: 2rem;
		border: $border-width solid transparent;
		background-color: grayscale(100);
		color: $text-muted;
		cursor: pointer;

		&:hover {
			border-color: grayscale(300);
		}
	}
	.filterbar-tag-input:checked + .filterbar-tag-token {
		background-color: theme-color(secondary);
		color: #fff;

		&:hover {
			border-color: transparent;
		}
	}

	@include media-breakpoint-up(md) {
		display: flex;

		#app, .page-content {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		.wrapper {
			flex: 1;
			display: flex;
		}
		.venue-list {
			background-color: $body-bg;
			overflow: auto;
			padding-top: $spacer;
			padding-bottom: $spacer;
			background-clip: padding-box;
			box-shadow: 1px 0 0 rgba(black, 0.08);
			z-index: 1;

			@include make-col(5);
		}
		.map-container {
			display: block;
			flex: 1;
			position: relative;
		}
		.map {
			height: 100%;
		}
		.map-controls {
			position: absolute;
			top: 0;
			right: 0;
			margin: 10px;
			background-color: $body-bg;
			border-radius: $border-radius-sm;
			box-shadow: 0 1px 4px -1px rgba(#000, 0.3);
			display: flex;
		}
		.map-follow-checkbox {
			margin: $input-btn-padding-y map-get($spacers, 3);
		}
		.map-refresh-button {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.footer {
			display: none;
		}
	}

	@include media-breakpoint-up(lg) {
		.venue-list {
			@include make-col(5);
		}
	}
}