.page-explore {
	overflow-x: hidden; // Fix scrollbar issues

	// Filters
	.filter-tag {
		margin: map-get($spacers, 2) 0;
	}
	.filter-tag-input {
		display: none;
	}
	.filter-tag-token {
		padding: map-get($spacers, 1) map-get($spacers, 3);
		border-radius: 2rem;
		border: $border-width solid transparent;
		background-color: grayscale(100);
		color: $text-muted;
		cursor: pointer;

		&:hover {
			border-color: grayscale(300);
		}
	}
	.filter-tag-input:checked + .filter-tag-token {
		background-color: theme-color(secondary);
		color: #fff;

		&:hover {
			border-color: transparent;
		}
	}

	// Venues
	.venue {
		display: flex;
		align-items: flex-start;
	}
	.venue-icon {
		width: 60px;
		padding: 5px;
		background-color: #76b1a2;
		border-radius: 50%;
		margin-right: $grid-gutter-width / 2;
	}
	.venue-body {
		flex: 1;
		padding-top: $spacer;
	}

	// Map
	.map-container {
		display: none;
	}
	.map-infowindow {
		width: 250px;
		padding-top: $spacer / 2;
		display: flex;
		align-items: flex-start;
	}
	.map-infowindow-icon {
		width: 48px;
		padding: 3px;
		margin-right: $spacer;
		background-color: theme-color(accent);
		border-radius: 50%;
	}
	.map-btn {
		background-color: $body-bg;
		color: grayscale(700);
		border-radius: $border-radius-sm;
		box-shadow: 0 1px 4px -1px rgba(#000, 0.3);
		padding: 0;
	}
	.map-refresh-btn {
		position: absolute;
		top: 10px;
		left: 48px;
		width: 55px; // Align with zoom buttons
		height: 55px;
	}
	.map-location-btn {
		position: absolute;
		left: 10px;
		top: 75px;
		width: 28px;
		height: 28px;
	}

	@include media-breakpoint-up(md) {
		display: flex;

		#app, .page-content {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		.wrapper {
			flex: 1;
			display: flex;
		}
		.venue-list {
			overflow: auto;
			@include make-col(6);
		}
		.map-container {
			display: block;
			flex: 1;
			position: relative;
		}
		.map {
			height: 100%;
		}
		.footer {
			display: none;
		}
	}

	@include media-breakpoint-up(lg) {
		.venue-list {
			@include make-col(5);
		}
	}
}