.page-home {
	.hero {
		min-height: 70vh;
		position: relative;
		background-color: rgba(mix($palette-green-500, black, 90%), 0.5);
		display: flex;
		flex-direction: column;
		box-shadow: 0 5px 50px rgba($palette-green-500, 0.35);
	}
	.hero-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: map-get($spacers, 5);
		margin-bottom: map-get($spacers, 5);

		.pg-logo-text,
		.pg-logo-symbol,
		.pg-logo-shadow {
			fill: $palette-dark-green-500;
		}

		.logo {
			display: none;

			@include media-breakpoint-up(md) {
				display: inline-block;
				width: 100px;
				height: 145px;
				margin-top: $spacer
			}
		}

		h1 {
			margin-top: $spacer * 2;
			margin-bottom: $spacer;
			font-weight: 500;
			line-height: $line-height-lg;
		}
		p {
			font-size: $h4-font-size;
			line-height: $headings-line-height;
			color: white;
			margin-bottom: $spacer * 3;
		}
	}

	.map {
		background-color: #d9e7eb;
		position: absolute !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.5;
	}

	// Search
	.search-form-control:focus {
		border-color: theme-color(accent);
		box-shadow: inset 0 0 0 1px theme-color(accent), 0 10px 30px rgba(theme-color(accent), 0.1);
	}
	.search-submit-btn {
		box-shadow: 0 10px 30px rgba(theme-color(accent), 0.25);

		&:hover,
		&:focus {
			box-shadow: 0 10px 30px rgba(theme-color(accent), 0.5);
		}
		&:active {
			transition: 0.1s;
			box-shadow: 0 3px 5px rgba(theme-color(accent), 0.4)
		}
	}
	.search-near-control {
		padding-right: ($input-btn-padding-x-lg * 2) + 1rem;
	}
	.search-locate-btn {
		position: absolute;
		top: 0;
		right: 0;
		color: $gray-600;

		&:hover,
		&:focus {
			color: theme-color(accent);
		}

		.no-geolocation & {
			display: none;
		}
	}

	// Cards
	.card {
		transition: $transition-base;
		text-decoration: none;

		img {
			pointer-events: none;
		}

		.card-text {
			transition: $transition-base;
			margin-top: map-get($spacers, 4);
			margin-bottom: 0;
			color: mix(theme-color(neutral), theme-color(primary), 80%);
		}
		.card-title {
			transition: $transition-base;
			margin-top: 0;
			margin-bottom: 0;
			color: $body-color;
		}

		&:hover {
			box-shadow: inset 0 0 0 1px theme-color(primary);
			border-color: theme-color(primary);
			color: theme-color(primary);

			.card-text,
			.card-title {
				color: inherit;
			}
		}
	}
}