.pg-home-page {
	&__hero {
		margin-top: $spacer * 5;
		margin-bottom: $spacer * 5;
		padding-top: $spacer * 5;
		padding-bottom: $spacer * 5;
		background-color: $palette-green-100;
	}

	// Search
	&__search-form-control:focus {
		border-color: theme-color('accent');
		box-shadow: inset 0 0 0 1px theme-color('accent');
	}
	&__search-query-control {
		padding-right: ($input-btn-padding-x-lg * 2) + 1rem;
	}
	&__search-locate-btn-wrapper {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__search-locate-btn {
		background-color: transparent;
		color: $gray-600;

		&:not([disabled]):hover,
		&:not([disabled]):focus {
			color: theme-color('accent');
		}
	}

	// Main venue
	&__main-venue-container {
		position: absolute;
		top: -($spacer * 10);
		bottom: -($spacer * 8);
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&__main-venue {
		flex: 1;
		background-color: $palette-dark-green-300;
		border-radius: $border-radius-lg;
	}

	// Tokens
	&__token-section {
		line-height: 4;
	}
	&__token {
		display: inline-block;
		padding: $spacer;
		border-radius: 3rem;
		color: $body-color;
		background-color: $white;
		box-shadow:
			0 0 0 2px transparent inset,
			0 1px 0 rgba($black, .08),
			0 1px 3px rgba($black, .1);
		transition: box-shadow .15s, color .15s;
		outline: none;
		
		// Spacing
		line-height: $line-height-base; // Reset parent line height
		margin-right: $spacer;

		&:hover,
		&:focus {
			color: $body-color;
			text-decoration: none;
			box-shadow:
				0 0 0 2px theme-color('primary') inset,
				0 1px 0 rgba($black, .08),
				0 1px 3px rgba($black, .1);
		}

		&:first-of-type {
			margin-left: -.5rem;
		}
	}

	// Venues
	&__venue-item {
		color: inherit !important;
		text-decoration: none !important;
	}
	&__venue-item-image {
		border-radius: $border-radius;
		margin-bottom: $spacer / 2;
		background-color: $palette-dark-green-100;
		position: relative;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			pointer-events: none;
			border-radius: $border-radius;
			transition: .15s;
		}
	}
	&__venue-item-category {
		text-transform: uppercase;
		letter-spacing: .025rem;
		color: $gray-700;
		font-size: $font-size-xs;
		font-weight: $font-weight-semibold;
	}
	&__venue-item-name {
		font-weight: $font-weight-semibold;
	}
	&__venue-item-address {
		color: $text-muted;
		font-size: $font-size-xs;
	}
	&__venue-item-highlight {
		text-transform: uppercase;
		letter-spacing: .025rem;
		font-size: $font-size-xs;
		font-weight: $font-weight-bold;
	}

	&__venue-item:hover &__venue-item-image::after {
		box-shadow: inset 0 0 0 2px theme-color('primary');
	}

	// Promote
	&__promote-section {
		padding-top: $spacer * 4;
		padding-bottom: $spacer;
		background-color: $palette-green-100;
	}
	&__promote-img {
		width: 80%;
		margin: 0 auto -1.14rem;
	}
}