// Remove Google logo from maps
/*
.map {
	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}
}
*/

// Scaffolding
html, body {
	height: 100%;
}
html {
	font-size: 14px;
}
body {
	font-weight: 300;
}