// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Create grayscale
$white:    #fff;
$gray-100: #fafafa;
$gray-200: #efefef;
$gray-300: #e6e6e6;
$gray-400: #dadada;
$gray-500: #bdbdbd;
$gray-600: #969696;
$gray-700: #575757;
$gray-800: #404040;
$gray-900: #292929;
$black:    #000;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Create a color palette
$palette-blue-100: #d4f0f7;
$palette-blue-200: #aae1ef;
$palette-blue-300: #7fd3e8;
$palette-blue-400: #55c4e0;
$palette-blue-500: #2bb6d9;

$palette-fuchsia-100: #fbd5de;
$palette-fuchsia-200: #f7acbd;
$palette-fuchsia-300: #f3829c;
$palette-fuchsia-400: #ef597b;
$palette-fuchsia-500: #eb305a;

$palette-green-100: #e5f5e9;
$palette-green-200: #cbecd4;
$palette-green-300: #b1e3be;
$palette-green-400: #97daa9;
$palette-green-500: #7dd194;

$palette-dark-green-100: #d1d9d8;
$palette-dark-green-200: #a4b3b2;
$palette-dark-green-300: #768d8c;
$palette-dark-green-400: #496766;
$palette-dark-green-500: #1c4240;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $palette-blue-500 !default;
$secondary:     $palette-green-500 !default;
$accent:        $palette-fuchsia-500 !default;
$neutral:       $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "accent":     $accent,
  "neutral":    $neutral,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// Options
$enable-shadows:  true;
$enable-gradients: true;


// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "museo-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-root:         14px;
$font-size-xs:           .7rem; // ~ 10px
// $font-size-sm
$font-size-md:           1.15rem; // ~16px
// $font-size-lg
$font-size-xl:           1.7rem; // ~24px

$font-weight-bold:       500;

$headings-font-weight:   300;
$headings-color:         $palette-dark-green-500;

$hr-border-color: rgba($black, .08);

$list-inline-padding: $spacer;

// Components
$border-radius:    .2rem;
$border-radius-lg: .25rem;
$border-radius-sm: .15rem;

// Buttons
$btn-font-weight:        400;
$input-btn-padding-y-lg: .8rem;
$input-btn-padding-x-lg: 1.25rem;

$btn-box-shadow:        none;
$btn-focus-box-shadow:  none;
$btn-active-box-shadow: none;

// Forms
$input-border-color:       rgba($black, .08);
$input-box-shadow:         none;

$input-focus-border-color: theme-color(primary);
$input-focus-box-shadow:   inset 0 0 0 1px theme-color(primary);

$input-placeholder-color: $gray-500;

// Icons
$icon-size-base: 1.425rem; // ~20px
$icon-size-sm: 1.15rem; // ~15px

// Navbar
$navbar-slim-padding-y: map-get($spacers, 1);

// Cards
$card-border-color: rgba($black, .08);
$card-border-radius: $border-radius-lg;

// List group
$list-group-border-color: rgba($black, .08);