// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #c3c2ca !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:       #2bb6d9;
$brand-primary-muted: #acc7ce;
$brand-secondary:     #7dd194;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "museo-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


// Components
$border-radius:    .2rem;
$border-radius-lg: .25rem;
$border-radius-sm: .15rem;


// Buttons
$btn-font-weight:  700;
$btn-padding-y-lg: 1rem;


// Forms
$input-border-color: rgba(#000, .08);
$input-border-focus: rgba(#000, .25);
$input-padding-y-lg: 1rem;
$input-color-placeholder: $gray-lighter;


// Navbar
$navbar-height: 48px;