.btn {
	text-transform: uppercase;
	cursor: pointer;

	letter-spacing: 0.15em;
	// font-size: $font-size-sm;
	// line-height: 1.2rem; // Align to ex-button height

	.icon {
		width: $icon-size-base;
		height: $icon-size-base;
	}
}
.btn:not(.btn-sm),
.btn:not(.btn-lg) {
	padding-left: $input-btn-padding-x-lg;
	padding-right: $input-btn-padding-x-lg;
}
.btn-sm {
	.icon {
		width: $icon-size-sm;
		height: $icon-size-sm;
	}
}
.btn-lg {
	letter-spacing: 0.08em;
	// font-size: $font-size-base;
	// line-height: $line-height-base * 1.25;

	.icon {
		vertical-align: -0.25rem;
	}
}

// Normal buttons
.btn-secondary {
	color: $white !important;
}
.btn-accent {
	@include button-variant(theme-color(accent), theme-color(accent));
}
.btn-neutral {
	@include button-variant($gray-700, $gray-700);
}

// Inverse buttons
.btn-inverse-primary {
	@include button-variant($white, $white, $white, $white, $white, $white);
	color: theme-color(primary);
}
.btn-inverse-secondary {
	@include button-variant($white, $white, $white, $white, $white, $white);
	color: theme-color(secondary);
}
.btn-inverse-accent {
	@include button-variant($white, $white, $white, $white, $white, $white);
	color: theme-color(accent);
}
.btn-inverse-neutral {
	@include button-variant($white, $white, $white, $white, $white, $white);
	color: theme-color(neutral);
}

// Outline buttons
.btn-outline-accent {
	@include button-outline-variant(theme-color(accent));
}
.btn-outline-neutral {
	@include button-outline-variant(rgba($gray-700, .66));
}