.pg-logo-text {
	fill: $palette-dark-green-500;
}
.pg-logo-symbol {
	fill: url('#pg-logo-symbol-gradient');
}
.pg-logo-shadow {
	fill: url('#pg-logo-shadow-gradient');
	fill-opacity: .1;
}
.pg-logo-badge {
	fill: $palette-dark-green-400;
}