.pg-logo__text {
	fill: $palette-dark-green-500;
}
.pg-logo__symbol {
	fill: url('#pg-logo__symbol-gradient');
}
.pg-logo__shadow {
	fill: url('#pg-logo__shadow-gradient');
	fill-opacity: .1;
}
.pg-logo__badge {
	fill: $palette-dark-green-400;
}