// Logo
.navbar__logo {
	display: block;
	width: 196px;
	height: 42px;

	.navbar-brand:active & {
		opacity: 0.85;
	}
}
.navbar__logo--no-symbol {
	width: 155px;
}
.navbar__logo--no-text {
	width: 29px;
}

// Search
.navbar__search {
	flex: 1;
}
.navbar__search-icon-container {
	display: none;
}
.navbar__search-textbox {
	border-color: transparent !important;
	background-color: transparent !important;

	&:focus {
		border-color: none;
		box-shadow: none;
	}
}

@include media-breakpoint-up(md) {
	.navbar__search {
		position: relative;
	}
	.navbar__search-icon-container {
		padding-left: $input-btn-padding-x-lg;
		padding-right: $input-btn-padding-x-lg / 2;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		pointer-events: none;
	}
	.navbar__search-icon {
		position: relative;
		top: -0.1rem;
	}
	.navbar__search-textbox {
		padding-left: ($input-btn-padding-x-lg * 1.5) + $icon-size-base;
	}
}

// Location button
.navbar__location-btn {
	background: transparent;
	border-radius: 0;
	box-shadow: none !important;
	color: $palette-dark-green-300;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
	outline: none;
}

// Transparent style
.navbar-transparent {
	border-bottom: $border-width solid rgba($black, 0.05);
	color: $palette-dark-green-500;

	.pg-logo-text,
	.pg-logo-symbol,
	.pg-logo-shadow {
		fill: red;
	}
}

// Light style
.navbar-light {
	background-color: $white;
	// box-shadow: 0 $border-width 0 rgba($black, 0.08);

	.navbar__search-icon-container {
		color: rgba($black, 0.5);
	}
	.navbar__search-textbox {
		color: rgba($black, 0.5);

		&::placeholder {
			color: rgba($black, 0.5);
		}
		&:focus {
			color: $black;

			&::placeholder {
				color: rgba($black, 0.25);
			}
		}
	}
}

// Dark style (dark green)
.navbar-dark {
	background-color: $palette-dark-green-500;
	color: $white;

	.pg-logo-background {
		display: none
	}
	.pg-logo-foreground {
		fill: $white;
	}

	.navbar__search-icon-container {
		color: rgba($white, 0.5);
	}
	.navbar__search-textbox {
		color: $white;

		&::placeholder {
			color: rgba($white, 0.5);
		}
		&:focus::placeholder {
			color: rgba($white, 0.25);
		}
	}
}