// Logo
.navbar-logo {
	display: block;
	width: 196px;
	height: 42px;

	.navbar-brand:active & {
		opacity: .85;
	}
}
.navbar-logo--only-text {
	width: 155px;
}
.navbar-logo--only-symbol {
	width: 29px;
}

// Search
.navbar-search {
	border-left: 1px solid rgba(white, 0.1);
	flex: 1;
}
.navbar-search-input-group {
	position: relative;
}
.navbar-search-input-group-addon {
	border-color: transparent;
	background-color: transparent;
	color: rgba(white, 0.5);
	padding-left: $input-btn-padding-x-lg;
	padding-right: $input-btn-padding-x-lg / 2;
	position: absolute;
	left: 0;
	height: 100%;
}
.navbar-search-form-control {
	padding-left: ($input-btn-padding-x-lg * 1.5) + $icon-size-base;
	border-color: transparent !important;
	background-color: transparent !important;
	color: rgba(white, 0.5);

	&::placeholder {
		color: rgba(white, 0.5);
	}
	&:focus {
		box-shadow: none;
		color: white;

		&::placeholder {
			color: rgba(white, 0.25);
		}
	}
}

// Small variant
.navbar-slim {
	padding-top: $navbar-slim-padding-y;
	padding-bottom: $navbar-slim-padding-y;

	.navbar-logo {
		width: 160px;
		height: 34px;
	}
	.navbar-logo--only-text {
		width: 125px;
		height: 34px
	}
	.navbar-logo--only-symbol {
		width: 24px;
		height: 34px;
	}
}

// Transparent style
.navbar-transparent {
	border-bottom: 1px solid rgba(#000, .05);
	color: $palette-dark-green-500;

	.pg-logo-text,
	.pg-logo-symbol,
	.pg-logo-shadow {
		fill: $palette-dark-green-500;
	}
}

// White style
.navbar-white {
	background-color: white;
	border-bottom: 1px solid rgba(#000, .05);
}

// Secondary
.navbar-secondary {
	background-color: $palette-green-300;
	box-shadow: 0 5px 50px rgba($palette-green-300, .5);
}

// Dark style (dark green)
.navbar-dark {
	background-color: $palette-dark-green-500;
	color: white;

	.pg-logo-shadow {
		display: none;
	}
	.pg-logo-text,
	.pg-logo-symbol {
		fill: white;
	}
}