// Logo
.navbar-logo {
	display: block;
	width: 196px;
	height: 42px;

	.navbar-brand:active & {
		opacity: 0.85;
	}

	@include media-breakpoint-down(sm) {
		// Hide logo without using display:none, which would also hide the
		// gradient used by the color logo
		&:not(.navbar-logo--no-text) {
			width: 0 !important; // Override navbar-slim
			height: 0 !important; // Override navbar-slim
		}
	}
}
.navbar-logo--no-symbol {
	width: 155px;
}
.navbar-logo--no-text {
	width: 29px;

	// Hide logo without using display:none, which would also hide the
	// gradient used by the color logo
	@include media-breakpoint-up(md) {
		width: 0 !important; // Override navbar-slim
		height: 0 !important; // Override navbar-slim
	}
}

// Search
.navbar-search {
	flex: 1;
}
.navbar-search-input-group {
	position: relative;
}
.navbar-search-input-group-addon {
	border-color: transparent;
	background-color: transparent;
	padding-left: $input-btn-padding-x-lg;
	padding-right: $input-btn-padding-x-lg / 2;
	position: absolute;
	left: 0;
	height: 100%;
}
.navbar-search-form-control {
	padding-left: ($input-btn-padding-x-lg * 1.5) + $icon-size-base;
	border-color: transparent !important;
	background-color: transparent !important;

	&:focus {
		box-shadow: none;
	}
}

// Slim variant
.navbar-slim {
	padding-top: $navbar-slim-padding-y;
	padding-bottom: $navbar-slim-padding-y;

	.navbar-logo {
		width: 160px;
		height: 34px;
	}
	.navbar-logo--no-symbol {
		width: 125px;
		height: 34px
	}
	.navbar-logo--no-text {
		width: 24px;
		height: 34px;
	}
}

// Transparent style
.navbar-transparent {
	border-bottom: $border-width solid rgba($black, 0.05);
	color: $palette-dark-green-500;

	.pg-logo-text,
	.pg-logo-symbol,
	.pg-logo-shadow {
		fill: $palette-dark-green-500;
	}
}

// Light style
.navbar-light {
	background-color: $white;
	box-shadow: 0 $border-width 0 rgba($black, 0.08);

	.navbar-search {
		border-left: $border-width solid rgba($black, 0.05);
	}
	.navbar-search-input-group-addon {
		color: rgba($black, 0.5);
	}
	.navbar-search-form-control {
		color: rgba($black, 0.5);

		&::placeholder {
			color: rgba($black, 0.5);
		}
		&:focus {
			color: $black;

			&::placeholder {
				color: rgba($black, 0.25);
			}
		}
	}
}

// Dark style (dark green)
.navbar-dark {
	background-color: $palette-dark-green-500;
	color: $white;

	.pg-logo-shadow {
		display: none;
	}
	.pg-logo-text,
	.pg-logo-symbol {
		fill: $white;
	}

	.navbar-search {
		border-left: $border-width solid rgba($white, 0.1);
	}
	.navbar-search-input-group-addon {
		color: rgba($white, 0.5);
	}
	.navbar-search-form-control {
		color: rgba($white, 0.5);

		&::placeholder {
			color: rgba($white, 0.5);
		}
		&:focus {
			color: $white;

			&::placeholder {
				color: rgba($white, 0.25);
			}
		}
	}
}