// Styles ---------------------------------------------------------------------
// FIXME: remove
.pg-pane {
	position: relative;
	display: flex;
	flex-direction: column;
}
.pg-pane__inner {
	flex: 1;
	overflow: auto;
}
.pg-pane__loader {
	color: gray('600');
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.pg-pane__top-shadow,
.pg-pane__bottom-shadow {
	position: absolute;
	left: 0;
	right: 0;
	height: 7px;
	pointer-events: none;
	border: 1px solid rgba(#000, .3);
	border-width: 0;
	-webkit-mask-box-image: -webkit-linear-gradient(left, transparent, rgba(#000, 1) 50%, transparent);
	transition: opacity 150ms;
}
.pg-pane__top-shadow {
	top: 0;
	border-top-width: 1px;
	background-image: radial-gradient(ellipse farthest-side at center top, rgba(#000, .15), transparent);
}
.pg-pane__bottom-shadow {
	bottom: 0;
	border-bottom-width: 1px;
	background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(#000, .15), transparent);
}