.typeahead.dropdown-menu {

	// Force full width when in a dropdown container
	.dropdown & {
		width: 100%;
	}

	li.active a {
		@include plain-hover-focus {
		  color: $dropdown-link-hover-color;
		  text-decoration: none;
		  background-color: $dropdown-link-hover-bg;
		}
	}
}

